<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mini Projet</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    </head>
    <body class="text-shadows" style="background:url('https://goo.gl/xYe8p9') no-repeat;>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
