{% extends 'base.html.twig' %}

{% block body %}

    <head>
        <meta charset="utf-8">
        <title>Mini Projet</title>

        <!-- Fonts -->
    </head>
    <body>


    <section class="section" id="head" style="display: block;">
        <div class="container">

            <div class="row">
                <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">

                    <!-- Site Title, your name, HELLO msg, etc. -->
                    <h1 class="title">Mini Projet Développement Web</h1>
                    <h2 class="subtitle">Application de gestion des tâches</h2>

                    <!-- Short introductory (optional) -->
                    <h3 class="tagline">
                        Bienvenue sur notre application web de gestion de tâches.<br>
                        Cet outil à pour but de vous simplifiez la vie dans vos futurs projets.<br><br>
                    </h3>

                    <!-- Nice place to describe your site in a sentence or two -->
                    <p><a href="login" class="btn btn-default btn-lg btn-download">Utiliser l'outil</a></p>

                </div> <!-- /col -->
            </div> <!-- /row -->

        </div>
    </section>

    <!-- Second (About) section -->
    <section class="section" id="about">
        <div class="container">

            <h2 class="text-center title"></h2>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-2">
                    <h5><strong>Pourquoi utiliser notre application ?<br></strong></h5>
                    <p>Cette application a été développer par des professionnels de la gestion afin de répondre au mieux
                    aux besoins des chefs de projets. <br>Grâce à cette application, vous pourrez gérer l'ensemble de
                    vos projets, mais également attribuer l'ensemble des tâches que vous aurez définis auparavant à
                    l'ensemble des développeur.<br>Aussi, notre application vous propose un suivi en temps réel, vous permettant
                    donc de suivre l'ensemble de vos projets.</p>
                </div>
                <div class="col-sm-4">
                    <h5><strong>Combien coûte une licence pour ce logiciel ?<br></strong></h5>
                    <p>La licence de ce logiciel est gratuite, et ce à vie !<br>Nous avons pensé qu'il était essentiel que
                    l'ensemble des professionnels (et plus particulièrement les chefs de projets) ait accès de manière
                    gratuite à l'ensemble des fonctionnalités que propose notre application de gestion des tâches. <br>
                    Nous vous rappellons que ce logiciel possède un grand nombre de fonctionnalités. Alors qu'attendez vous
                    pour vous lancer ?</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Fourth (Contact) section -->
    <section class="section" id="contact">
        <div class="container">

            <h2 class="text-center title">Nous contacter</h2>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <p class="lead">Vous avez une question sur ce modèle ou vous souhaitez suggérer une nouvelle fonctionnalité ?
                        <br>N'hésitez pas à nous envoyer un email ou à me laisser une ligne sur Twitter!</p>
                    <p><b>boiro_tassi_chauveau@contact.com</b><br></p>
                    <a href="https://github.com/boirosma2/ProjetDevWeb2019" class="btn btn-link"> Github<br><br></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </section>

    </body>

{% endblock %}