{% extends "@FOSUser/layout.html.twig" %}
    {% block stylesheets %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body {
                font: 20px Montserrat, sans-serif;
                line-height: 1.8;
                color: #f5f6f7;
            }
            p {font-size: 16px;}
            .margin {margin-bottom: 45px;}
            .bg-1 {
                background-color: #1abc9c; /* Green */
                color: #ffffff;
            }
            .bg-2 {
                background-color: #474e5d; /* Dark Blue */
                color: #ffffff;
            }
            .bg-3 {
                background-color: #ffffff; /* White */
                color: #555555;
            }
            .bg-4 {
                background-color: #2f2f2f; /* Black Gray */
                color: #fff;
            }
            .container-fluide {
                padding-top: 70px;
                padding-bottom: 70px;
            }
            .navbar {
                padding-top: 15px;
                padding-bottom: 15px;
                border: 0;
                border-radius: 0;
                margin-bottom: 0;
                font-size: 12px;
                letter-spacing: 5px;
            }
            .navbar-nav  li a:hover {
                color: #1abc9c !important;
            }
        </style>
    {% endblock stylesheets %}

{% block body %}
    <div class="container-fluide bg-1 text-center">
        <h3 class="margin">Who Are We?</h3>
        <img src="{{ asset('img/bird.jpg') }}" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
        <h3>We are Developers</h3>
    </div>

    <!-- Second Container -->
    <div class="container-fluide bg-2 text-center">
        <h3 class="margin">Mini Projet Développement Web</h3>
        <p>Bienvenue sur notre application web de gestion de tâches.<br>
            Cet outil à pour but de vous simplifiez la vie dans vos futurs projets</p>
    </div>

    <!-- Third Container (Grid) -->
    <div class="container-fluide bg-3 text-center">
        <h3 class="margin">Pourquoi utiliser notre application ?</h3><br>
        <div class="row">
            <div class="col-sm-4">
                <p>Cette application a été développer par des professionnels de la gestion afin de répondre au mieux
                    aux besoins des chefs de projets. <br>Grâce à cette application, vous pourrez gérer l'ensemble de
                    vos projets, mais également attribuer l'ensemble des tâches que vous aurez définis auparavant à
                    l'ensemble des développeur.<br>Aussi, notre application vous propose un suivi en temps réel, vous permettant
                    donc de suivre l'ensemble de vos projets.</p>

            </div>

            <div class="col-sm-4">

                <p>La licence de ce logiciel est gratuite, et ce à vie !<br>Nous avons pensé qu'il était essentiel que
                    l'ensemble des professionnels (et plus particulièrement les chefs de projets) ait accès de manière
                    gratuite à l'ensemble des fonctionnalités que propose notre application de gestion des tâches. <br>
                    Nous vous rappellons que ce logiciel possède un grand nombre de fonctionnalités. Alors qu'attendez vous
                    pour vous lancer ?</p>

            </div>
            <div class="col-sm-4">
                <p>Ce logiciel vous propose l'ajout de tâches, la suppression ainsi que la mise à jour des tâches et des projets
                    en cours. Vous pouvez donc à tout moment mettre à jour une tâche afin de montrer l'état d'avancement aux chefs de projets.
                    De plus, pour les chefs de projet, vous pouvez voir qui participe à l'ensemble du projet et voir la façon dont les tâches sont réparties
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="container-fluide bg-4 text-center ">
        <p class="lead">Vous avez des questions sur notre logiciel?
            <br>merci de nous envoyer un formulaire de contact à l'adresse qui s'affiche en dessous</p>
        <p><b>boiro_tassi_chauveau@contact.com</b><br></p>
        <a href="https://github.com/boirosma2/ProjetDevWeb2019" class="btn btn-link"> Github<br><br></a></li>

    </footer>
{% endblock %}
